@import "tailwindcss";
* {
  font-family: "Outfit", sans-serif;
}
@theme {
  --color-primary: rgb(216, 125, 74);
  --color-secondary: rgb(251, 175, 133);
  --color-tertiary: rgb(250, 250, 250);
  --color-prime: rgb(241, 241, 241);
  --font-manrope: Manrope, sans-serif;
}
